* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior:smooth;
}

/* Navigation */

/* nav .my-nav {
   
} */

nav .nav-btn {
    display: block;
    border-radius: 0.3rem ;
    color: rgb(255, 255, 255) !important;
    background-color: red;  
}

/* Counter Section */

.counter-section {
    background-color: brown;
    color: white;
    padding: 1.2rem 0 0 0;
}

.counter-section h3 {
    font-weight: 600;
}

.counter-section p {
    font-size: 0.8rem;
}

/* About Section */

#about {
    margin: 3rem 0;
}

.top-about {
    margin: 3rem 0;
}

.top-about img {
    border-radius: 8px;
}

.top-about .about-text {
    padding: 3rem;
}

.top-about .about-text p {
    font-size: 0.9rem;
}

.top-about .about-text button {
    margin-top: 2rem;
}